= form_for @season do |f|
  - if @season.errors.any?
    #error_explanation
      %h2= "#{pluralize(@season.errors.count, "error")} prohibited this season from being saved:"
      %ul
        - @season.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  - @season.series.each_with_index do |series, i|
    .series
      = series.name
      %table.series-tracks
        %tbody
          - series.series_tracks.each do |track|
            %tr
              %td.week
                Week #{track.week} (#{track.date})
              %td.name
                = track.name
              %td.duration
                = track.duration
    - if i % 2 == 1
      %div{style: 'clear:left'}


  .actions
    = f.submit 'Save'
