- users ||= nil
- series.each_with_index do |series, i|
  .series
    %table.series-tracks
      %thead
        %tr
          %th.series-name{colspan: 3}
            - if series.license.present?
              [#{series.license}]
            = series.name
          - if users.present?
            - series.users.each do |user|
              - next unless user.team_id == current_team.id
              %th= user.name
      %tbody
        - series.series_tracks.each do |track|
          %tr
            %td.week{ class: track.current?  ? 'bold' : '' }
              W#{track.week} (#{track.date})
            %td.name
              = track.display_name
            %td.duration
              = track.duration
            - if users.present?
              - series.users.each do |user|
                - next unless user.team_id == current_team.id
                %td{class: user_track_css(user, track)}
                  = text_field_tag '', track.value_for_user(user).try(:value), id: "ut_#{user.id}_#{track.id}", class: user_track_css(user, track), 'data' => {user_id: user.id, series_track_id: track.id}

    %p
      Cars:
      = series.cars.join(', ')

%div{style: 'clear:left'}
