%h3 Listing seasons

= table_for do |t|
  %thead
    %tr
      %th Name
      %th Active
      %th
  %tbody
    - @seasons.each do |season|
      %tr
        %td= season.name
        %td= season.active
        %td
          = link_to 'Show', season
          = link_to 'Edit', edit_season_path(season)
          = link_to 'Destroy', season, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Season', new_season_path
