= form_for @user_season do |f|
  - if @user_season.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_season.errors.count, "error")} prohibited this series from being saved:"
      %ul
        - @user_season.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id, 'User'
    = f.select :user_id, current_team.users.map{|u| [u.name, u.id]}

  .field
    = f.label :season_id, 'Season'
    = f.select :season_id, Season.active.all.map{|u| [u.name, u.id]}

  - series = SeriesCollectionDecorator.decorate(Series.latest)

  .field
    = f.label :series_names, 'Road Series'
    = f.select :series_names, series.road.map{|s| [s.full_name, s.name]}, {}, { :multiple => true, :size => 20, style: 'width: 260px' }

  .field
    = f.label :series_names, 'Oval Series'
    = f.select :series_names, series.oval.map{|s| [s.full_name, s.name]}, {}, { :multiple => true, :size => 20, style: 'width: 260px' }

  .actions
    = f.submit 'Save'
