%h1 Listing user season series

%table
  %tr
    %th User
    %th Season
    %th Series
    %th

  - @user_seasons.each do |us|
    %tr
      %td= us.user.name
      %td= us.season.name
      %td= us.series_names.join(', ')
      %td
        = link_to 'Edit', edit_user_season_path(us)
        = link_to 'Destroy', us, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New user season series', new_user_season_path
