template(name='navbarLeft')
  if currentTeamId
    ul.nav.navbar-nav
      li.dropdown
        a(href='#' class='dropdown-toggle' data-toggle='dropdown') Series
          b.caret

        ul.dropdown-menu
          li
            +linkTo route='series' tid=currentTeamId sid=currentSeasonId
              | Current season

          if hasUpcommingSeasons
            li.divider
            li.dropdown-header= 'Upcomming season'
            each upcommingSeasons
              li
                +linkTo route='series' tid=currentTeamId sid=_id
                  = name

          li.divider
          li.dropdown-header= 'Past seasons'
          each pastSeasons
            li
              +linkTo route='series' tid=currentTeamId sid=_id
                = name

      li.dropdown
        a(href='#' class='dropdown-toggle' data-toggle='dropdown') My Series
          b.caret

        ul.dropdown-menu
          li
            +linkTo route='mySeries' tid=currentTeamId sid=currentSeasonId
              | Current season

          if hasUpcommingSeasons
            li.divider
            li.dropdown-header= 'Upcomming season'
            each upcommingSeasons
              li
                +linkTo route='mySeries' tid=currentTeamId sid=_id
                  = name

          li.divider
          li.dropdown-header= 'Past seasons'
          each pastSeasons
            li
              +linkTo route='mySeries' tid=currentTeamId sid=_id
                = name

      li
        +linkTo route='players' tid=currentTeamId
          | Players
