- no_select ||= false

%table.tracks
  %tr
    - unless no_select
      %th Own
      %th To buy
      %th Don't want
    %th
      Name
  - tracks.each do |track|
    %tr
      - unless no_select
        %td
          = radio_button_tag "user[track_ids][#{track.id}]", 'own', @user.own_track?(track.id)
        %td
          = radio_button_tag "user[track_ids][#{track.id}]", 'to_buy', @user.to_buy_track?(track.id)
        %td
          = radio_button_tag "user[track_ids][#{track.id}]", 'ignored', @user.ignored_track?(track.id)
      %td
        = track.name
