%h1 Listing users

= table_for do |t|
  %thead
    %tr
      %th Name
      %th Own Tracks
      %th To buy tracks
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.tracks.size
        %td= user.tracks_to_buy.size
        %td
          = link_to 'Show', user
          = link_to 'Edit', edit_user_path(user)
          = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
