%p
  %b Name:
  = @user.name

%p
  Tracks to buy (#{@user.track_to_buy_ids.size})
  = render partial: 'users/tracks', locals: {tracks: @user.tracks_to_buy, no_select: true}

%p
  Owned tracks (#{@user.track_owned_ids.size})
  = render partial: 'users/tracks', locals: {tracks: @user.tracks, no_select: true}

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
