= form_for @series do |f|
  - if @series.errors.any?
    #error_explanation
      %h2= "#{pluralize(@series.errors.count, "error")} prohibited this series from being saved:"
      %ul
        - @series.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.hidden_field :season_id

  .series
    %table.series-tracks
      %tr
        %th Week
        %th Name
        %th Duration

      = f.fields_for :series_tracks do |ft|
        %tr
          %td.week
            = ft.text_field :week
          %td.name
            = ft.text_field :name
          %td.duration
            = ft.text_field :duration
    %p
      Cars:
      %br
      - f.object.cars.each do |car|
        = text_field_tag 'series[cars][]', car

  %div{style: 'clear:left'}
  .actions.clear
    = f.submit 'Save'
