%h1= @series.season.name

%h2= @series.name

%p
  = render partial: 'seasons/series', locals: { series: [@series] }

= link_to 'Edit', edit_series_path(@series)
\|
= link_to 'Back', series_index_path
