!!!
%html
  %head
    %title IRacing Schedule
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div.header
      %ul.nav
        %li
          = link_to 'Home', root_url
        %li
          = link_to 'Seasons', seasons_url
        %li
          = link_to 'User Seasons', user_seasons_url
        %li
          = link_to 'Users', users_url
        %li
          = link_to 'Tracks', tracks_url
    %div.flash
      

    %div#main
      %p#notice= notice
      = yield
